<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
</head>
<body class="container mt-4">

    <h1>Data Visualization Dashboard</h1>
        <div class="row">
            <!-- Graph Section -->
            <div class="col-md-6">
                <h2>Scatter Graph</h2>
                <img src="{{ plot_path }}" alt="Scatter Plot" class="img-fluid">
            </div>

            <!-- Summary Statistics Section -->
            <div class="col-md-6">
                <h2>Descriptive Statistics</h2>

                <!-- X Variable Summary -->
                <h4>{{ request.form['x'] }}</h4>
                <table class="table table-striped">
                    <thead>
                        <th>{{ x }}</th>
                        <tr>
                            <th>Statistic</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for statistic, value in summary_x %}
                        
                        <tr>
                            <td>{{ statistic }}</td>
                            <td>{{ value }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- Y Variable Summary -->
                <h4>{{ request.form['y'] }}</h4>
                <table class="table table-striped">
                    <thead>
                        <th>{{ y }}</th>
                        <tr>
                            <th>Statistic</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for statistic, value in summary_y %}
                        <tr>
                            <td>{{ statistic }}</td>
                            <td>{{ value }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

</body>
</html>


